<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') -%>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <%- include ('../partials/header.ejs') -%>
    </nav>
    <div class="container">
      <h2>Choose your week</h2>
      <div class="schedules">
        <% schedules.forEach( schedule => { %>
          <div class="card">
            <h5>Week <%= schedule.weeknumber %></h5>
            
            <a href="/schedules/<%=schedule.id%>">
              <img src="<%= schedule.img %>" alt="An image of <%= schedule.name %>" /></a>
              <h6>Miles Prescribed: <%=schedule.price %></h6>
          </div>
        <% }) %>
      </div>
   
    </div>
    
  </body>
</html>
